/* BEM Styles Only */
.toc {
  position: fixed;
  top: 180px;
  right: 0;
  background-color:#ecd9c6;
  color: #261a0d;

}

.toc ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.toc > ul > li {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.toc ul li a {
  color: #222222;
  font-weight: 400;
  text-decoration: none;
  color: #261a0d;
}


.toc ul li ul li a {
  font-weight: 300;
}

.toc ul li.backToTop {
  margin-top:2rem;
  font-size: 0.8rem;
}
.toc ul li.backToTop a {
  font-weight: 300;
}

.toc ul ul li {
  margin: 0;
}





.content-area {
  margin-top: 3rem;

}

.content-area > h3 {
  margin-top: 3rem;
}

pre {
  font-style: Verdana;
  overflow: hidden;
}

.sample-only pre {
  background-color: #ecd9c6;
  padding: 1rem;
  color: #333333;
  border: 1px double #000000;

  box-sizing: border-box;

}

.sample {
  border: 1px solid #000000;
  padding: 1rem;
  display: block;


}

.sample pre {
  background-color: #ecd9c6;
  padding: 1rem;
  color: #333333;
  border-top: 1px double #000000;
  margin: 1rem -1rem -1rem;
  box-sizing: border-box;
}

.fa {
  padding: 10px;
  font-size: 16px;
  width: 20px;
  text-decoration: none;
  margin: 2px 2px;
  color: black;
}





@media (max-width: 768px) {
  .responsive-hidden {
    display: none;
  }
}



ul.classes-used {
  margin: 0 0 2rem 1rem;
  list-style-type: none;
}

ul.classes-used ul {
  margin-top: 0;
  list-style-type: none;
}

ul.classes-used li {
  margin: 0;
}
